<div class="search-container">
<div class="search-header">
    <span class="input-control">
        <i class="material-icons">search</i>    
        <input  ng-model="$ctrl.searchText" placeholder="SEARCH (Client Name / Policy Number)" type="search" ng-change="$ctrl.onUpdate({searchText: $ctrl.searchText})" />
    </span>    
</div>
        
<div class="virtual-flyout" ng-show="$ctrl.searchText" ng-cloak >
    <div  ng-repeat="item in $ctrl.clientList track by $index " class="client-dtl" ng-class="$index % 2 == 0 ? 'even' : 'odd'">
        <h3 ng-bind="item.name" class="client-name"></h3>       
        <div class="flex-row-container list-unstyled">            
            <div class="flex item">
                <i class="material-icons">call</i>
                <span ng-bind="item.contact"></span>
            </div>
            <div class="flex item">
                    <i class="material-icons">email</i>
                    <span ng-bind="item.email"></span>
            </div>
            <div class="flex item">
                    <i class="material-icons">description</i>
                    <span ng-bind="item.policyNo"></span>
            </div>
        </div>
    </div>
    <div ng-if="!$ctrl.clientList.length" class="no-result">No results found.</div>  
</div>
</div>